<div class="card my-4">
  <div class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <div class="navbar-brand"><%= link_to 'Test Guru', root_path, class: 'nav-link px-2 text-white' %>
        <p class="text-white"> <%= t('.panel') %> </p>
        <%= link_to t('.badge'), admin_badges_path, class: "nav-link text-white" %>
      </div>
      <span class="navbar-text">
      <% if user_signed_in? %>
           <b class="text-white"><%= t('.welcome') %> <%= current_user.email %></b>
          <%= button_to t('.buttons.exit'), destroy_user_session_path, method: :delete %>
      <% end %>
    </span>
    </div>
  </div>
</div>