<h1><%= @test.title %></h1>
<%= render @test.questions %>

<%= link_to 'Создать новый вопрос', new_test_question_path(@test) %> |
<%= link_to 'Изменить', edit_admin_test_path(test) %>
<%= link_to 'Назад', admin_tests_path %>