<h1><%= @test.title %></h1>
<%= render @test.questions %>

<%= link_to t('.links.new'), new_admin_test_question_path(@test) %> |
<%= link_to t('.links.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.links.back'), admin_tests_path %>